<h1>Login</h1>

<%= form_for :session, url: sessions_path do |f| %>


<p><%= f.label :email %><br>
<%= f.email_field :email%></p>

<p><%= f.label :password %><br>
<%= f.password_field :password %></p>

<%= f.submit 'login' %>
<% end %>

<p>New user? <%= link_to "Sign up now!", root_url %></p>
