<!DOCTYPE html>
<html>
<head>
  <title>SirPlus</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/my.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="space"></div>
<section id="header">
<a href=<%= root_url %>><%= image_tag("smallicon.png", height:'50') %></a>

  <ul class="nav nav-pills">


<% if current_user %>
    <li role="presentation" data-toggle="modal" data-target="#myModal"><%= link_to "log out", session_path(current_user.id), :method=>:delete %></li>
<% else %>
    <li role="presentation" data-toggle="modal" data-target="#myModal"><a href="localhost:3000/providers/new">Sign Up</a></li>
    <li role="presentation" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><a href="#">Log In</a></li>
<% end %>

  </ul>
</section>


<%= yield %>

</body>
</html>
